@keyframes underlineExpand {
    0%,
    100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.5);
    }
  }
  
  .animatedUnderline {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(193, 190, 38);
    animation: underlineExpand 2s ease-in-out infinite;
    transform-origin: center;
  }
  
  